<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Yoda-jokes</title>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body> 

        <div class="topnav"> 
            <a class="active" href="#home">Home</a>
            <a href="#news">Add joke</a>
            <a href="#contact">API's</a>
            <a href="#about">About</a>
        </div>

        <div id="yoda">
            <img id="head" src="images/yoda_head.png">
            <img id="body" src="images/yoda_body.png">
            <img id="microphone" src="images/yoda_mic.png">
        </div> 

        <div>
            <img id="floor" src="images/scene_floor.png">
        </div>

        <div>
            <img id="background" src="images/scene_background.png">
        </div>

        <div id="text_bubble">
            <div id="text" class="selectable"></div>
            <img id="bubble" src="images/bubble.png">
        </div>

        <div id="buttons">
            <button id="like" class="button"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>   
            <button id="dislike" class="button"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>  
            <button id="showJoke" class="button" onclick="showJoke()">Next Joke</button> 
            <div id="translatedText" class="selectable"></div> 
            <button id="translate" class="button">Translate</button> 
        </div> 

        <div id="top3">
            <div>
                 box
            </div> 
        </div> 

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="home.js"></script>
</html>