:root {
    --yoda_head_height: 12rem;
    --yoda_head_width: 24rem;
    --yoda_body_offset: 6rem;
    --yoda_mic_offset: 12rem;
    --yoda_head_offset: 5rem;
    --floor_width: 50rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

/* START Yoda */
#yoda {
    padding-left: 10rem;
    padding-top: 10rem;
}

#head {
    height: var(--yoda_head_height);
    width: var(--yoda_head_width);
    display: block;
    position: relative;
    z-index: 2;
    top: var(--yoda_head_offset)
}

#body {
    height: var(--yoda_head_height);
    width: var(--yoda_head_height);
    position: relative;
    left: var(--yoda_body_offset);
    z-index: 1;
}

#microphone {
    height: var(--yoda_head_height);
    width: var(--yoda_head_height);
    position: relative; 
    right: var(--yoda_mic_offset);
    z-index: 3;
}
/* END Yoda */

/* START background */
#floor { 
    top: -10rem;
    left: -2rem;
    width: var(--floor_width);
    position: relative; 
    z-index: -2;
}

#background { 
    top: -50rem;
    left: -2rem;
    width: var(--floor_width);
    position: relative;  
    z-index: -1;
}
/* END background */

#bubble{
    left: 30rem;
    top: 12rem;
    z-index: 4;
    height: 10rem;
    width: 20rem;
    position: absolute;
}

#text {
    position: absolute;
    top: 1rem;
    left: 7rem;
    z-index: 5;
    color: red;
    font-size: 20px;
}

/* START topnav */
.topnav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    border: 2px solid rgb(0, 0, 0, 0);
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.topnav a:hover { 
    border: 2px solid rgb(0, 0, 0, 0.5)
}

.topnav {
    overflow: auto;
    float: none;
    display: block;
    width: 100%;
    text-align: center; 
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-bottom: 0.1rem solid rgb(4, 26, 3);
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(7,64,5); 
    background: linear-gradient(90deg, rgba(7,64,5,1) 15%, rgba(26,147,7,1) 50%, rgba(3,134,149,1) 100%);
    z-index: 999;
} 

/* END topnav */


@media only screen and (max-width: 900px) { 
}