:root {
    --yoda_head_height: 12rem;
    --yoda_head_width: 24rem;
    --yoda_body_offset: 6rem;
    --yoda_mic_offset: -12rem;
    --yoda_head_offset: 5rem;
    --floor_width: 50rem;
}

*{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.selectable{
    user-select: text;
    -moz-user-select: text;
    -webkit-user-drag: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

body {
    background-color: rgb(0, 0, 0);
    background: url('images/site_background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* START topnav */
.topnav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    border: 2px solid rgb(0, 0, 0, 0);
    padding: 0.5rem 2rem 0.5rem 2rem;
}
.topnav a:hover { 
    border: 2px solid white;
}
.topnav { 
    top: 0;
    left: 0;
    width: 100% ;
    position: absolute;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
    border-bottom: 0.1rem solid white; 
    background: rgb(66,2,2);
    background: linear-gradient(90deg, rgba(66,2,2,1) 0%, rgba(203,0,0,1) 50%, rgba(66,2,2,1) 100%);
    z-index: 999;  
}  
.topnav * {
    box-sizing: border-box;
}
/* END topnav */

/* START Yoda */
#yoda {
    padding-left: 10rem;
    padding-top: 10rem;
    display: inline-block;
}
#head {
    height: var(--yoda_head_height);
    width: var(--yoda_head_width);
    display: block;
    position: relative;
    z-index: 2;
    top: var(--yoda_head_offset)
}
#body {
    height: var(--yoda_head_height);
    width: var(--yoda_head_height);
    position: relative;
    left: var(--yoda_body_offset);
    z-index: 1;
}
#microphone {
    height: var(--yoda_head_height);
    width: var(--yoda_head_height);
    position: relative; 
    left: var(--yoda_mic_offset);
    z-index: 3;
}
/* END Yoda */

/* START background */
#floor { 
    top: -10rem;
    left: -2rem;
    width: var(--floor_width);
    position: relative; 
    z-index: -2;
}
#background { 
    top: -50rem;
    left: -2rem;
    width: var(--floor_width);
    position: relative;  
    z-index: -1;
}
/* END background */

/* START BUBBLE TEXT */
#bubble{
    left: 30rem;
    top: 12rem;
    z-index: 4;
    height: 10rem;
    width: 20rem;
    position: absolute;
    display:none
} 
#text {
    position: absolute;
    left: 32rem;
    top: 12rem;
    z-index: 5; 
    font-size: 20px;  
    width: 13em;
    height: 7em;
    padding: 0.5em 0 0 0.5em;
    overflow: hidden;
    display:none
}
/* END BUBBLE TEXT */

#buttons{
    position: absolute;
    top: 25rem;
    left: 30rem;  
    width: 12rem;
    height: 2rem;
    display: flex;
    order: 3;
    justify-content: space-evenly; 
    flex-wrap: wrap;
} 

.button { 
    width: 12rem;
    height: 2.5rem; 
    font-size: 1.25rem;
    background-color: #222;
    border-radius: 2em;
    color: white; 
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    border: 1px solid white;
    margin-bottom: 1rem;
    z-index: 999;
}

.button:hover {
    background-color: rgb(95, 94, 94);
}

#like, #dislike{  
    padding: 0 0;
    width: 5rem;
    height: 2.5rem; 
    border-radius: 15%; 
    color: rgb(148, 255, 126);
    border-color: rgb(148, 255, 126);
    background-color:rgb(1, 56, 1);   
}

#like:hover, #dislike:hover { 
    color: yellow;
    border-color: yellow;
    background-color: white;
}

#dislike{    
    color: rgb(255, 126, 126);
    border-color:rgb(255, 126, 126);
    background-color:rgb(124, 41, 41);
}

#translatedText{
    background-color:rgb(0, 29, 31);
    border-radius: 1em;
    text-align: center;
    color: white;
}

#top3{
    position: absolute;
    top: 25rem;
    right: 15rem;  
    width: 12rem;
    height: 2rem;  
    color:white;
} 

@media only screen and (max-device-width: 800px) { 
    .topnav {  
        min-width: 100% ;
        display: grid;
        grid-template-columns: auto auto;   
        border-bottom: 0.1rem solid white;  
    }

    #buttons{ 
        top: 55rem;
        left: 25%;  
        width: 24rem;
        height: 4rem; 
    }

    .button { 
        width: 24rem;
        height: 5rem; 
        font-size: 2.5rem; 
        border-radius: 4em;   
        border: 1px solid white;
        margin-bottom: 2rem;
    }

    #like, #dislike{   
        width: 10rem;
        height: 5rem;
    }

    #yoda { 
        padding-top: 20rem; 
        padding-left: 10rem;
    }

    #microphone { 
        top: 0rem;
        left: -12rem;
    }
 
    #floor { 
        top: -10rem;
        left: -3rem;  
    }

    #background { 
        top: -50rem;
        left: 0rem; 
    }

    #bubble{ 
        height: 15rem;
        width: 38rem; 
        left: 4rem;  
        padding-top: 0rem; 
        content: url(images/bubble2.png);
    } 
    
    #text {   
        font-size: 1.75em;
        height: 6.5em;
        width: 18em;
        padding-top: 0.5rem;
        left: 6rem;  
    } 
    
    #translatedText{
        font-size: 2em;
    }
}  

@media only screen and (max-device-width: 600px) { 
    .topnav{
        width: 170%;
    }

    .topnav a{
        font-size: 4rem; 
    }

    #yoda {
        position: absolute;
        top: 30rem; 
        left: 20rem;
        padding: 0 0 0 0;
    }

    #microphone { 
        top: -13rem;
        left: -1rem;
    }

    #floor {
        top: 40rem;
        left: 6rem;
    }

    #background{
        left: 6rem;
        top: 0rem;
    }

    #buttons{ 
        top: 60rem;
        left: 50%;
    }

    #bubble{  
        left: 15rem;  
        padding-top: 10rem;  
        width: 35rem; 
    } 
    
    #text {    
        padding-top: 10.5rem;
        left: 17rem;
        width: 15em;  
    } 
}
 
@media only screen and (max-device-width: 450px) { 
    .topnav{
        width: 200%;
    } 

    #yoda {  
        left: 15rem; 
    }

    #microphone {  
        left: 0rem;
    }

    #floor { 
        left: 3rem;
    }

    #background{
        left: 3rem; 
    } 

    #bubble{  
        left: 13rem;   
    } 
    
    #text {     
        left: 15rem; 
    } 
}

@media only screen and (max-device-width: 400px) { 
    .topnav{
        width: 220%;
    } 

    #yoda {  
        left: 10rem; 
    } 

    #floor { 
        left: 0rem;
    }

    #background{
        left: 0rem; 
    } 

    #bubble{  
        left: 10rem;   
    } 
    
    #text {     
        left: 12rem; 
    } 
}

@media only screen and (max-device-width: 300px) { 
    .topnav{
        width: 250%;
    }  
}